.repair-types-nav {
  overflow: hidden;
  width: 100%;
  /* max-height: 318px; */
}
/* Slider wrapper */
.nav-list-repair {
  max-height: 318px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.repair-types-nav__item {
  flex-shrink: 0;
  /* flex-grow: 0; */
  /* height: 0 !important; */
  /* display: block; */
  height: 46px !important;
  /* margin: 0 auto; */
}

.repair-types-nav__item {
  position: relative;
  text-align: center;
}
.repair-types-nav__item svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Portfolio */

/* .portfolio-slider {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.portfolio-slider__slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
} */

.popup-portfolio-text {
  display: block;
}

.popup_text_swiper {
  width: 33%;
}
.popup_text_swiper .swiper-wrapper {
  padding: 20px;
}

@media (max-width: 1024px) {
  .popup_text_swiper {
    width: 100%;
    height: auto;
    padding: 15px;
  }
  .popup-dialog-portfolio {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .popup_text_swiper .swiper-wrapper {
    padding: 0;
  }
  .popup-portfolio-text-important {
    flex-wrap: nowrap;
  }
}

#transparency-popup-counter {
  z-index: 1;
}
